{% extends '../base_admin.html' %}

{% block titulo %}Editar clase{% endblock%}

{% block contenido_main %}
<h1 class="mt-4 m-lg-3">Clases Gold´s Gym</h1>
<ol class="breadcrumb mb-4 m-lg-3">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar Clase</li>
</ol>

<div class="card">
    <div class="card-header">Edicion de clase</div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'administracion/clases/form.html' %}
        </form>
        
    </div>
</div>
{% endblock %}