{% extends '../base_admin.html' %}

{% block titulo %}Editar profesor{% endblock%}

{% block contenido_main %}
<h1 class="mt-4 m-lg-3">Profesores</h1>
<ol class="breadcrumb mb-4 m-lg-3">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar profesor</li>
</ol>

<div class="card">
    <div class="card-header">Edicion de profesor</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'administracion/profesores/form.html' %}
        </form>
    </div>
</div>
{% endblock %}