<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mind & Body{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/3682b977b2.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    {% load static %}
    <link rel="stylesheet" href="{% static 'administracion/css/styles.css'%}?v={% now 'U' %}">

    {% block css %}{% endblock css %}
</head>

<body>

    <header data-bs-theme="dark">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcyKLzv_VMHruY3p674HG1Avu4wGyS5kgqB-f3QnoVzjrPJpq7TWPVCuVTzntKsq4048M&usqp=CAU"
                        alt="Logo" width="50" style="border-radius: 50%;" height="50"
                        class="d-inline-block align-text-top">

                </a>

                <div class="container-fluid navbar-brand">


                    <h2>Gold´s Gym</h2>

                </div>

            </div>
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">

                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sucursales' %}">Sucursales</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'quienes_somos' %} ">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>

                    {% if user.is_authenticated %} 
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mi Cuenta
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'perfil'%}">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <a type="button" class="btn btn-warning" href="{% url 'logout_user' %}">Cerrar sesión</a>
                            </ul>
                        </li>
                    </ul>
                    
                    {% else %}
                    </ul>
                    <a type="button" href="{% url 'login' %}" class="btn btn-outline-light me-2" >Iniciar sesión</a>
                    <a type="button" href="{% url 'registro' %}" class="btn btn-warning" >Registro</a>

                    {% endif %} 
                </div>
            </div>
        </nav>
        
    </header>

    <!-- <main> -->



    <main class="flex-shrink-0">
        {% block contenido %}
        {% endblock contenido %}
    </main>

    {% include './footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    {% block javascript %}{% endblock javascript %}
</body>

</html>