{% extends './base2.html' %}

{% block titulo %}Contacto{% endblock%}

{% block contenido %}
<div class="container contacto-sucursales-div">
    
    <h2>Consultas:</h2>
    
    <h3>Contactate con nosotros al telefono: </h3>
    
    <a href="tel:+34678567876"><i class="fas fa-phone"></i> 34678567876</a>
    
    <h3>O al correo:</h3>
    
    <a href="mailto:mindandbody@gmail.com"><i class="far fa-envelope"></i> mindandbody@gmail.com</a>
    
    <h3>O por nuestras redes sociales:</h3>
    
    <div class="contacto-icon">
        <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="http://www.twwiter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</div>
{% endblock %}