<footer class="footer mt-auto py-5 bg-dark">
    <div class="container text-muted">
        <div class="row">
            <div class="col-3">
                <a href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcyKLzv_VMHruY3p674HG1Avu4wGyS5kgqB-f3QnoVzjrPJpq7TWPVCuVTzntKsq4048M&usqp=CAU"
                        alt="Logo" width="50" style="border-radius: 50%;" height="50"
                        class="d-inline-block align-text-top">
                </a>
                <br>
                <br>
                <p>Gold´s Gym</p>
                <!-- <p class="legales">
                    Los contenidos de buenosaires.gob.ar están licenciados bajo Creative
                    Commons Reconocimiento 2.5 Argentina License.
                </p> -->

            </div>
            <div class="col-8">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 ">

                    <li class="nav-item"><a class="nav-link footer-items" href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item"><a class="nav-link footer-items" href="{% url 'sucursales' %}">Sucursales</a>
                    </li>
                    <li class="nav-item"><a class="nav-link footer-items" href="{% url 'quienes_somos' %} ">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link footer-items" href="{% url 'contacto' %}">Contacto</a></li>


                </ul>
            </div>
            <div class="col-1">
                <p class="float-end mb-1 icono">
                    <a href="#"><i class="fa-solid fa-circle-up "></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>