{% extends './base2.html' %}

{% block titulo %}Quienes Somos{% endblock titulo %}

{% block contenido %}

<div class="container">
    <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Mind-and-Body/blob/main/imagenes/imagen1.jpeg?raw=true"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Mind-and-Body/blob/main/imagenes/imagen2.jpeg?raw=true"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://github.com/EvanaSabatella1989/Proyecto-Mind-and-Body/blob/main/imagenes/imagen3.jpg?raw=true"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <br>
    <br>

    <p>Los centros deportivos MYND & BODY con sus 30 años de experiencia en el sector de la actividad física,
        ofrecen a sus socios un espacio de entrenamiento bien equipado con un servicio de calidad en el que
        recibirás un trato cercano, familiar y profesional.</p>
    <p>Nuestros centros cuentan con una gran variedad de actividades dirigidas, hasta 150 clases a la semana,
        en donde podrás alcanzar todos aquellos objetivos que te hayas marcado, gracias a un gran equipo de
        profesionales que te ayudaran en todo momento.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rem sunt repellat officiis nihil
        esse nobis minima enim autem recusandae aperiam atque quas, cumque maxime minus, provident fugit, est
        magnam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nemo laboriosam, tempora a
        quaerat nam, laborum ullam odit commodi, placeat cum eum et eligendi. Voluptatibus labore minus quam
        rem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus tempore quia, odio placeat
        est a beatae fugit repellat tempora? Odio nesciunt illo aliquam quisquam. Repudiandae unde id voluptas
        minima dolore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eligendi veritatis
        tenetur nesciunt laudantium. Magnam illum pariatur unde, sit, qui quaerat numquam recusandae dolores
        exercitationem ipsam et assumenda autem! Dolor.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo
        explicabo excepturi ratione dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem
        labore, unde rerum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo
        explicabo excepturi ratione dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem labore,
        unde rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat
        illo explicabo excepturi ratione dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem
        labore, unde rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam
        fugiat illo explicabo excepturi ratione dolorem recusandae voluptatum ab quis quo cum a quisquam
        exercitationem labore, unde rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias
        ducimus aperiam fugiat illo explicabo excepturi ratione dolorem recusandae voluptatum ab quis quo cum a
        quisquam exercitationem labore, unde rerum.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Adipisci alias ducimus aperiam fugiat illo explicabo excepturi ratione dolorem recusandae voluptatum ab quis
        quo cum a quisquam exercitationem labore, unde rerum.Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Adipisci alias ducimus aperiam fugiat illo explicabo excepturi ratione dolorem recusandae voluptatum
        ab quis quo cum a quisquam exercitationem labore, unde rerum.Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Adipisci alias ducimus aperiam fugiat illo explicabo excepturi ratione dolorem recusandae
        voluptatum ab quis quo cum a quisquam exercitationem labore, unde rerum.Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo explicabo excepturi ratione dolorem
        recusandae voluptatum ab quis quo cum a quisquam exercitationem labore, unde rerum.Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo explicabo excepturi ratione
        dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem labore, unde rerum.Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo explicabo excepturi
        ratione dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem labore, unde rerum.Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias ducimus aperiam fugiat illo explicabo
        excepturi ratione dolorem recusandae voluptatum ab quis quo cum a quisquam exercitationem labore, unde
        rerum.
    </p>
</div>
{% endblock contenido %}