{% extends './base2.html' %}

{% block titulo %}Registro{% endblock titulo %}

{% block contenido %}


<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Registrate</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        Anotate a nuestras clases registrandote en nuestra página.</p>

    <div class="registro">

        <!--Grid column-->
        <div class="col-md-6 mb-md-0 mb-6">

        <form method="POST" class="mx-1 mx-md-4">
            {% csrf_token %}

                <div class="md-form mb-0">
                    <label class="form-label">{{form.username.label}}</label>
                    <input type="text" id="{{form.username.auto_id}}" name="{{form.username.name}}"  value="{{ form.username.value | default:'' }}" class="form-control" />
                </div>
                <div class="error">{{form.username.errors}}</div>
               
                <div class="md-form mb-0">
                    <label class="form-label">{{form.email.label}}</label>
                    <input type="email" id="{{form.username.auto_id}}" name="{{form.email.name}}"  value="{{ form.email.value | default:'' }}" class="form-control" />
                </div>
                <div class="error">{{form.email.errors}}</div>

                <div class="md-form mb-0">
                    <label class="form-label" >{{ form.password1.label }}</label>
                    <input type="password" id="{{ form.password1.auto_id }}" name="{{ form.password1.name }}" value="{{ form.password1.value | default:'' }}" class="form-control" />
                </div>
                <div class="error">{{form.password1.errors}}</div>

                <div class="mb-4">
                    <div class="md-form mb-0">
                        <label class="form-label">{{ form.password2.label }}</label>
                        <input type="password" id="{{ form.password2.auto_id }}" name="{{ form.password2.name }}" value="{{ form.password2.value | default:'' }}" class="form-control" />
                    </div>
                </div>
                <div class="error">{{form.password2.errors}}</div>
                
                <div class="mb-4">
                    <div class="md-form mb-0 ">
                        <label class="form-label">Acepto Terminos y Condiciones</label>
                        <input type="checkbox" id="aceptoTyC" name="aceptoTyC" class="form-check-input"  />
                    </div>
                </div>
                
                <div class="error">{{form.aceptoTyC.errors}}</div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-warning btn-lg">Registrarme</button>
            </div>
            <p class="small mt-2 pt-1 mb-0">Ya tienes cuenta? 
                <a href="{% url 'login' %}">Click aquí</a>
            </p>
        </form>

    </div>
</section>
{% endblock contenido %}