{% extends './base2.html' %}

{% block titulo %}Registro{% endblock titulo %}

{% block contenido %}

{% comment %} <div class="container">


    <form action="#" name="formulario" method="GET">
        <div class="form-group">
            <h2>Rellene el formulario</h2>
            <p>(*Obligatorio)</p>

            <label for="usr">* Nombre:</label>
            <input type="text" name="nombre" class="form-control" id="usr">

            <label for="lsn">* Apellido:</label>
            <input type="text" name="apellido" class="form-control" id="lsn">

            <label for="cel">* Nro Celular:</label>
            <input type="text" name="tel" class="form-control" id="cel">

            <label for="mail">* E-Mail:</label>
            <input type="email" name="mail" class="form-control" id="mail">

            <label for="calle">Calle:</label>
            <input type="text" name="calle" class="form-control" id="calle">

            <label for="nro">Numero:</label>
            <input type="text" name="numero" class="form-control" id="nro">


            <p>* Seleccione la/s clase/s en la que esta interesado/a:</p>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Yoga"> Yoga</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Pilates"> Pilates</label>
            </div>

            <div class="checkbox disabled">
                <label><input type="checkbox" name="clase" value=" HIIT" disabled> HIIT</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Spinning"> Spinning</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Entrenamiento funcional"> Entrenamiento funcional
                </label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Actividades de Baile"> Actividades de Baile</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value=""> Actividades de combate
                </label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="clase" value="Actividades de combate"> Actividades de Agua
                </label>
            </div>

            <div>
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <br>
            <div class="checkbox">
                <label for=""><input type="checkbox" name="terminos" value="Terminos y Condiciones"><a href="TPO.pdf"
                        target="_blank">Acepto Terminos y Condiciones*</a></label>
            </div>
            <div class="container">
                <input type="submit" class="btn btn-info " id="btn" name="btn" value="Enviar">
            </div>

        </div>
    </form>


</div> {% endcomment %}


<section class="mb-4 container">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Registrate</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        Anotate a nuestras clases registrandote en nuestra página.</p>

    <div class="registro">

        {% comment %} <!--Grid column-->
        <div class="col-md-6 mb-md-0 mb-6">

            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
            {% endfor %}
            <form id="formulario-gym" name="formulario-gym" action="{% url 'registro' %}" method="POST" novalidate>
                {% csrf_token %}
                
                <div class="row">
                    {% for campo in formulario_gym%}
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="name" class="form-label">{{campo.label}}</label>
                            {{campo}}
                        </div>
                        <div>{{ campo.errors}} </div>
                    </div>
                    {% endfor %}
        
                <div class="text-center text-md-left mt-3">

                    <button class="btn btn-warning" type="submit">Enviar</button>
                </div>
            </form>
            <div class="status"></div>
        </div>    {% endcomment %}
    
        <form method="POST" class="mx-1 mx-md-4">
            {% csrf_token %}

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    
                    <input type="text" id="{{form.username.auto_id }}" name="{{form.username.name}}" value="{{ form.username.value | default:'' }}" class="form-control" />
                    <label class="form-label">{{form.username.label}}</label>
                </div>
            </div>
            <div class="error">{{form.username.errors}}</div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <input type="email" id="{{form.username.auto_id}}" name="{{form.email.name}}"  value="{{ form.email.value | default:'' }}" class="form-control" />
                    <label class="form-label">{{form.email.label}}</label>
                </div>
            </div>
            <div class="error">{{form.email.errors}}</div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <input type="password" id="{{ form.password1.auto_id }}" name="{{ form.password1.name }}" value="{{ form.password1.value | default:'' }}" class="form-control" />
                    <label class="form-label" >{{ form.password1.label }}</label>
                </div>
            </div>
            <div class="error">{{form.password1.errors}}</div>

            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <input type="password" id="{{ form.password2.auto_id }}" name="{{ form.password2.name }}" value="{{ form.password2.value | default:'' }}" class="form-control" />
                    <label class="form-label">{{ form.password2.label }}</label>
                </div>
            </div>

            <div class="error">{{form.password2.errors}}</div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-warning btn-lg">Registrarme</button>
            </div>
            <a href="{% url 'login' %}">Click aquí para ingresar a tu cuenta</a>

        </form>
    
    </div>
</section>
{% endblock contenido %}