{% extends './base2.html' %}

{% block titulo %}Sucursales{% endblock%}

{% block contenido %}

<div class="container contacto-sucursales-div">

    <h2>Puedes encontrarnos en nuestros locales:</h2>
    {% for sucursal in sucursales %}
    <div class="sucursal-div">
        <p>{{ sucursal.nombre }}:</p>
        <a href="{{ sucursal.link }}">{{ sucursal.direccion }}</a>
        <div class="iframe-img-div">
            <div class="iframe-div">
                <iframe class="iframe"
                    src="{{ sucursal.iframe }}"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="img-div">
                <div class="img-container">
                    <img class="bd-placeholder-img card-img-top"
                        src="{{ sucursal.portada.url }}">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
